.navbar{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    background-color: antiquewhite;
}

.navbar li{
    list-style-type: none;
}

.navbar li:hover{
    text-decoration: underline;
}